# Ignore virtual environment
   fast_env/

   # Ignore environment variables file
   .env

   # Ignore Python bytecode files
   __pycache__/
   *.pyc

   # Ignore IDE-specific files
   .vscode/
   .idea/